@model IEnumerable<ExploreCalifornia.Models.Special>
<h1>Monthly Specials<span style="float: right"><small>@Html.ActionLink("Create new", "Create", "Special")</small></span></h1>

@foreach (var special in Model)
{
    <h2 class="top"><img src="/uploads/@(special.Key).jpg" alt="@special.Name" width="75" height="75">@special.Name<span style="float: right"><small>@Html.ActionLink("Edit", "Edit", "Special", new { key = special.Key })</small></span></h2>
    <p>
        @special.Type <br>
        <a href="/tours/@(special.Key).htm">$@special.Price</a>
    </p>
}
